@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

html,
body {  
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;  
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a, a:hover{
  transition: 0.2s;
}

* {
  box-sizing: border-box;
}

@import "_mediaqueries";

$roboto : 'Roboto';

$fz-xl : 6.854rem;
$fz-l : 4.236rem;
$fz-m : 2.618rem;
$fz-s : 1.618rem;

$morado : #2F0446;
$amarillo : #F7D149;
$azul : #181A2D;



.container{
  display: table;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
}

header{
  background-color: $morado;
  color: #FFF;
  .container{
    text-align: center;
    padding: 3rem 1rem;
    @include md(sm){
      padding: 2rem 1rem;
    }
    h1{
      margin: 0;padding: 0;
      font-size: $fz-l;
      line-height: 1;
      text-transform: uppercase;
      font-family: $roboto;
      @include md(sm){
        font-size: 2rem;
      }
    }
    h3{
      margin: 0;padding: 0;
      font-size: $fz-m;
      font-weight: normal;
      @include md(sm){
        font-size: 1.4rem;
      }
    }
    p{
      margin: 0;padding: 0;
      color: $amarillo;
    }
  }
}

section#intro{  
  .container{
    padding: 4rem 1rem 0;
    @include md(sm){
      padding: 2rem 1rem 0;
    }
    h2{
      font-family: $roboto;
      font-size: $fz-l;
      font-weight: 900;
      margin: 0;
      padding: 0;      
      text-transform: uppercase;
      letter-spacing: -0.2rem;
      @include md(sm){
        font-size: 2rem;
        line-height: 1;
      }
    }
    p{
      font-size: $fz-s;
      @include md(sm){
        font-size: 1.2rem;
      }
    }
  }
}

nav{
  margin: 0 0 5rem;
  ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0;
    padding: 1rem;
    @include md(sm){
      flex-direction: column;
    }
    a{
      display: block;
      text-align: center;
      padding: 1rem 2rem;
      color: #FFF;
      background-color: lighten($morado, 20%);
      border-radius: 2rem;
      outline: none;
      font-weight: 600;
      font-size: $fz-s;
      &:hover{
        background-color: $morado;
      }
      @include md(sm){
        font-size: 1.2rem;
        padding: 1rem;
      }
    }
  }
}

section#article-1{
  background-color: $azul;
  color: #FFF;
  text-align: center;
  .container{
    padding: 5rem 1rem;
    @include md(sm){
      padding: 3rem 1rem;
    }
    h2{
      text-transform: uppercase;
      font-size: $fz-l;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;padding: 0;
      line-height: 1;
      @include md(sm){
        font-size: $fz-s;
      }
    }
    p{
      font-size: $fz-s;
      line-height: 1.5;
      @include md(sm){
        font-size: 1rem;
      }
    }
  }
}

section.pilar{
  .container{
    padding: 3rem 1rem;
    position: relative;
    @include md(sm){
      padding: 2rem 1rem;
    }
    h1{
      font-family: $roboto;
      font-size: $fz-m;
      text-transform: uppercase;
      font-weight: 900;
      line-height: 1;
      margin: 0 0 1rem;      
      padding: .5rem 0;
      color: $morado;
      position: sticky;
      top: 0;      
      background-color: #FFF;
      border-bottom: 1px solid $morado;
      @include md(sm){
        font-size: 1.6rem;
      }
    }
    p{
      font-size: $fz-s;
      @include md(sm){
        font-size: 1.2rem;
      }
    }
    &:after{
      content: "";
      width: 10%;
      height: 6px;
      background-color: $amarillo;
      margin: 4rem auto 0;
      display: table;
    }
  }  
  
}


section.banner{
  background-color: $amarillo;
  color: $morado;
  .container{
    padding: 4rem 1rem;
    text-align: center;
    @include md(sm){
      padding: 2rem 1rem;
    }
    h3{
      font-family: $roboto;
      font-size: $fz-l;
      margin: 0;padding: 0;
      line-height: 1;
      letter-spacing: -0.2rem;
      text-transform: uppercase;
      font-weight: 900;
      @include md(sm){
        font-size: $fz-m;
      }
    }
    p{ 
      font-size: $fz-m;
      margin: 0;
      padding: 0;
      line-height: 1;
      @include md(sm){
        font-size: $fz-s;
      }
    }

    .share{
      margin: 3rem auto 0;
      padding: 0.5rem 2rem;
      display: inline-flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      font-size: 1rem;
      background-color: rgba($morado, 0.05);
      border-radius: 2rem;
      @include md(sm){
        flex-direction: column;
        gap: .5rem;
        padding: 2rem;
      }
      p{
        font-size: 1rem;
        font-weight: 700;
      }
      a{
        display: table;
        padding: .5rem 1rem;
        border-radius: 1rem;
        &:hover{
          background-color: $morado;
          color: $amarillo;          
        }
      }
    }
  }
}

footer{
  background-color: $morado;
  color: #FFF;
  text-align: center;
  .container{
    padding: 2rem 1rem;
    p{      
      margin: 0 0 1rem;
      padding: 0;
      letter-spacing: .05rem;
      line-height: 1.5;
      &:last-of-type{
        margin: 0;
      }
      a{        
        color: $amarillo;
        &:hover{
          text-decoration: underline;
        }
      }
    }  
  }  
}